@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* General Styling */
:root {
  --logo-color: #d45f5f;
  --blood-orange: #fe5f55;
  --cream-background: #f4f2dd;
  --footer-color: #e9e6d5;
  --onyx:  #31343C;
}

/* html, body {
  background-color: var(--footer-color);
  background-size: cover;
} */



.dark-mode {
  background-color: black;
  color: var(--cream-background);
}

.bg-color {
  background-color: var(--cream-background);
}
/* syntax(--logo-color) */

.form-group {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  align-items: center;
}

.footer-footer {
  background-color: var(--footer-color);
}

.top-spacing {
  margin-top: 40px;
}
.botttom-spacing {
  margin-bottom: 20px;
}

/* Home page */
.jumbotron {
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1567721971759-12402aedabf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
  margin-top: 30vh;
  /* background-color: var(--cream-background) */
}

/* Navbar */
.sticky-nav {
  background-color: var(--cream-background);
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
}

.icon-center {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

/* Font & Icon Styling  */
.feature-icon {
  font-size: 35px;
  margin-right: 20px
}

.pacifico-bold {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: var(--blood-orange);
}

.pacifico-reg {
  font-family: 'Pacifico', cursive;
  color: var(--blood-orange);
}

.onyx-reg {
  font-family: 'Pacifico', cursive;
  color: var(--onyx)
}

/* Shop styling */
.shop-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
}

.shop-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.shop-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.pagination {
  color: var(--cream-background);
}

/* Cart styling */
.cart-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
  margin-bottom: 20px;
}
.cart-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.cart-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100vw;
  height: 50px;
  background-color: var(--cream-background);
  text-align: center;
  color: var(--logo-color);
  font-family: 'Pacifico', cursive;

}

.product-margining {
  margin: 50px;
}


/* Product Card */


/* Cart */
.base-text {
  font-family: 'Pacifico', cursive;
  color: var(--logo-color)
}


/* User Profile */
.review-section {
  color: var(--cream-background);
  width: 100%;
  height: 30vh;
  background-color: var(--onyx);
  background-size: cover;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  margin-top: 20vh;
}

.profile-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
  margin-top: 5vh; 
}

.profile-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.profile-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.user-info {
  background-size: cover;
  text-align: center;
  justify-content: center;
  padding-top: 13vh;
  color: var(--onyx);
  /* padding-bottom: 10vh; */
}

.order-history {
  margin-top: 10vh;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}


/* Edit Profile */
.smMT {
  margin-top: 1vh
}

.smMB {
  margin-bottom: 2vh
}

.mdMT {
  margin-top: 5vh
}

.mdMB {
  margin-bottom: 5vh
}

.title-text {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
}
.title-placement {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.edit-profile-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color); 
}

.edit-profile-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.edit-profile-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}




/* Loading screen Animation */
.loading {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 1.1em; 
  position: absolute;
  text-transform: uppercase;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fe5f55;
}

.full-height {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* gonna change to another tag */
/* span {
  position: relative;
  top: 0.63em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
} */

.let1 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}


